# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled applictions
*.exe
hello
unit_tests
speed_test

# Ninja build files
.ninja_*

# Backup files
*~
*.bak
*.log
.*.sw[a-z]
\#*\#
.\#*
*.tmp

# Generated headers
rhea/version.hpp
